.home .solucao-para-horario-escolar {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    margin-right: 51.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 36px;
    color: #000000;
  }
  .home .adicionar-periodos {
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    margin: 40px 26.6px 31px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .home .adicionar-professores {
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    margin: 40px 26.3px 31px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .home .adicionar-salas {
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    margin: 40px 26.4px 31px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .home .adicionar-turmas {
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    margin: 40px 29.1px 31px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .home .adicionar-horarios-ex-1430 {
    border: 1px solid #000000;
    margin: 35px 23.2px 2px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .home .adicionar-materias {
    border: 1px solid #000000;
    margin: 40px 30.5px 31px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .home .gerar-horario {
    border: 1px solid #000000;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .home .container-3 {
    border-radius: 38px;
    background: #D9D9D9;
    position: relative;
    margin: 11px 0 1px 0;
    display: flex;
    padding: 29px 0.5px 30px 0;
    width: 154px;
    height: fit-content;
    box-sizing: border-box;
  }
  .home .container-2 {
    background: #C9FFEF;
    position: relative;
    margin-bottom: 73px;
    display: flex;
    flex-direction: row;
    padding: 18px 87px 10px 32px;
    width: fit-content;
    box-sizing: border-box;
  }
  .home .container {
    background: url('../assets/images/image.jpeg') 50% / cover no-repeat;
    margin-right: 21.8px;
    width: 784.2px;
    height: 773.9px;
  }
  .home .organize-seu-horario-escolar-de-forma-simples-epratica {
    border: 1px solid #000000;
    margin: 0 49px 117px 49px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    color: #000000;
  }
  .home .bem-vindo-ao-nosso-servio-de-timetabling-projetado-especificamente-para-instituies-de-ensino-como-asua-simplifique-acomplexa-tarefa-de-organizar-horrios-escolares-com-nossa-plataforma-intuitiva-eeficiente-com-nossa-ferramenta-voc-pode-criar-horrios-personalizados-de-aulas-com-apenas-alguns-cliques-no-importa-otamanho-da-sua-instituio-ou-acomplexidade-do-seu-cronograma-nossa-soluo-adapta-ses-suas-necessidades-oferecendo-uma-maneira-rpida-efcil-de-gerenciar-horrios-escolares-nossa-plataforma-oferece-uma-variedade-de-recursos-poderosos-incluindo-interface-intuitiva-nossa-interface-fcil-de-usar-permite-que-voc-crie-eedite-horrios-com-facilidade-sem-anecessidade-de-treinamento-extensivo-flexibilidade-total-personalize-seu-horrio-de-acordo-com-as-necessidades-exclusivas-da-sua-instituio-ajustando-os-intervalos-de-tempo-adicionando-salas-de-aula-edefinindo-preferncias-especficas-colaborao-em-tempo-real-facilite-acomunicao-entre-os-membros-da-equipe-permitindo-que-eles-visualizem-eatualizem-ohorrio-simultaneamente-otimizao-inteligente-nosso-algoritmo-avanado-garante-adistribuio-eficiente-de-aulas-evitando-conflitos-emaximizando-autilizao-de-recursos-com-onosso-servio-de-timetabling-voc-pode-dizer-adeus-aos-horrios-desorganizados-es-confuses-deltima-hora-simplifique-agesto-do-seu-horrio-escolar-econcentre-se-no-que-realmente-importa-proporcionar-uma-experincia-educacional-de-qualidade-para-seus-alunos-experimente-hoje-mesmo-edescubra-como-podemos-transformar-amaneira-como-voc-organiza-oseu-horrio-escolar {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  .home .container {
    margin: 56px 0 28.9px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .home .container-1 {
    margin: 0 24.6px 0 28px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .home {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 61.1px;
    width: 1440px;
    box-sizing: border-box;
  }
  