.tela-8 .adicionar-turmas {
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    margin: 0 0 100px 261.9px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .tela-8 .rectangle-3 {
    border-radius: 46px;
    background: #D9D9D9;
    width: 871px;
    height: 674px;
  }
  .tela-8 .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 871px;
    height: fit-content;
    box-sizing: border-box;
  }
  .tela-8 .rectangle-4 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    background: #C9FFEF;
    position: absolute;
    left: 50%;
    top: 224px;
    translate: -50% 0;
    width: 338px;
    height: 71px;
  }
  .tela-8 .periodos {
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    transform: rotate(179.581deg);
    position: absolute;
    left: 50%;
    top: 237px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 36px;
    color: #000000;
  }
  .tela-8 .rectangle-1 {
    background: #C9FFEF;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 116px;
  }
  .tela-8 .adicionar-periodos {
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    position: absolute;
    left: 343px;
    top: 58px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .tela-8 .adicionar-horarios-ex-1430 {
    border: 1px solid #000000;
    position: absolute;
    top: 53px;
    right: 418.2px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .tela-8 .adicionar-materias {
    border: 1px solid #000000;
    position: absolute;
    top: 58px;
    right: 271.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .tela-8 .adicionar-salas {
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    position: absolute;
    left: 665px;
    top: 58px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .tela-8 .adicionar-professores {
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    position: absolute;
    left: 494px;
    top: 58px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .tela-8 .rectangle-2 {
    border-radius: 38px;
    background: #D9D9D9;
    position: absolute;
    top: 29px;
    right: 87px;
    width: 154px;
    height: 76px;
  }
  .tela-8 .gerar-horario {
    border: 1px solid #000000;
    position: absolute;
    top: 58px;
    right: 119.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .tela-8 .solucao-para-horario-escolar {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    position: absolute;
    left: 32px;
    top: 18px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 36px;
    color: #000000;
  }
  .tela-8 .rectangle-11 {
    background: #FFFAFA;
    position: absolute;
    right: 393px;
    bottom: 243px;
    width: 620px;
    height: 458px;
  }
  .tela-8 .rectangle-12 {
    background: #C9FFEF;
    position: absolute;
    top: 323px;
    right: 395px;
    width: 618px;
    height: 63px;
  }
  .tela-8 .nome {
    position: absolute;
    left: 669px;
    top: 340px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #000000;
  }
  .tela-8 .deletar {
    position: absolute;
    top: 340px;
    right: 408.9px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #000000;
  }
  .tela-8 .id {
    position: absolute;
    left: 453px;
    top: 340px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #000000;
  }
  .tela-8 .line-10 {
    background: #000000;
    transform: rotate(89.742deg);
    position: absolute;
    left: 489.9px;
    top: 322px;
    width: 2.1px;
    height: 1px;
  }
  .tela-8 .line-17 {
    background: #000000;
    transform: rotate(89.742deg);
    position: absolute;
    top: 322px;
    right: 502.9px;
    width: 2.1px;
    height: 1px;
  }
  .tela-8 .line-11 {
    background: #000000;
    transform: rotate(179.907deg);
    position: absolute;
    top: 444px;
    right: 393px;
    width: 620px;
    height: 1px;
  }
  .tela-8 .line-12 {
    background: #000000;
    transform: rotate(179.907deg);
    position: absolute;
    top: 503px;
    right: 393px;
    width: 620px;
    height: 1px;
  }
  .tela-8 .line-13 {
    background: #000000;
    transform: rotate(179.907deg);
    position: absolute;
    right: 393px;
    bottom: 461px;
    width: 620px;
    height: 1px;
  }
  .tela-8 .line-14 {
    background: #000000;
    transform: rotate(179.907deg);
    position: absolute;
    right: 394px;
    bottom: 402px;
    width: 620px;
    height: 1px;
  }
  .tela-8 .line-15 {
    background: #000000;
    transform: rotate(179.907deg);
    position: absolute;
    right: 394px;
    bottom: 343px;
    width: 620px;
    height: 1px;
  }
  .tela-8 .line-16 {
    background: #000000;
    transform: rotate(179.907deg);
    position: absolute;
    right: 393px;
    bottom: 284px;
    width: 620px;
    height: 1px;
  }
  .tela-8 .rectangle-13 {
    background: #D9D9D9;
    position: absolute;
    top: 398px;
    right: 420px;
    width: 58px;
    height: 35px;
  }
  .tela-8 .del {
    position: absolute;
    top: 401px;
    right: 431.1px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #000000;
  }
  .tela-8 {
    background: #FFFFFF;
    display: flex;
    padding: 58px 1px 0 0;
    width: 1440px;
    box-sizing: border-box;
  }
  