<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/home.css' %}" />
</head>
<body>
    <div class="home">
      <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tela 12</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="tela_12.css" />
  </head>
  <body>
    <div class="tela-12">
      <div class="container">
        <div class="adicionar-turmas">
        Adicionar Turmas
        </div>
        <div class="rectangle-3">
        </div>
      </div>
      <div class="rectangle-4">
      </div>
      <span class="horarios">
      Horarios
      </span>
      <div class="rectangle-1">
      </div>
      <span class="adicionar-periodos">
      Adicionar Periodos
      </span>
      <span class="adicionar-horarios-ex-1430">
      Adicionar Horarios (Ex: 14:30)
      </span>
      <span class="adicionar-materias">
      Adicionar Materias
      </span>
      <span class="adicionar-salas">
      Adicionar Salas
      </span>
      <span class="adicionar-professores">
      Adicionar Professores
      </span>
      <div class="rectangle-2">
      </div>
      <span class="gerar-horario">
      Gerar Horario
      </span>
      <span class="solucao-para-horario-escolar">
      Solucao para Horario Escolar
      </span>
      <div class="rectangle-11">
      </div>
      <div class="rectangle-12">
      </div>
      <span class="horario">
      Horario
      </span>
      <span class="deletar">
      Deletar
      </span>
      <span class="dia-da-semana">
      Dia da semana
      </span>
      <div class="line-10">
      </div>
      <div class="line-17">
      </div>
      <div class="line-11">
      </div>
      <div class="line-12">
      </div>
      <div class="line-13">
      </div>
      <div class="line-14">
      </div>
      <div class="line-15">
      </div>
      <div class="line-16">
      </div>
      <div class="rectangle-13">
      </div>
      <span class="del">
      Del
      </span>
    </div>
  </body>
</html>
    </div>
</body>
</html>