<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/home.css' %}" />
</head>
<body>
    <div class="home">
      <!doctype html>
      <html lang="en">
        <head>
          <meta charset="UTF-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=Edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Tela 6</title>
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="tela_6.css" />
        </head>
        <body>
          <div class="tela-6">
            <div class="container">
              <div class="adicionar-turmas">
              Adicionar Turmas
              </div>
              <div class="rectangle-3">
              </div>
            </div>
            <div class="rectangle-4">
            </div>
            <span class="adicionar-materias">
            Adicionar Materias
            </span>
            <div class="rectangle-1">
            </div>
            <span class="adicionar-periodos">
            Adicionar Periodos
            </span>
            <span class="adicionar-horarios-ex-1430">
            Adicionar Horarios (Ex: 14:30)
            </span>
            <span class="adicionar-materias-1">
            Adicionar Materias
            </span>
            <span class="adicionar-salas">
            Adicionar Salas
            </span>
            <span class="adicionar-professores">
            Adicionar Professores
            </span>
            <div class="rectangle-2">
            </div>
            <span class="gerar-horario">
            Gerar Horario
            </span>
            <span class="solucao-para-horario-escolar">
            Solucao para Horario Escolar
            </span>
            <div class="rectangle-8">
            </div>
            <span class="adicionar-materia">
            Adicionar Materia
            </span>
            <div class="rectangle-7">
            </div>
            <span class="id-da-materia">
            ID da Materia:
            </span>
            <div class="rectangle-5">
            </div>
            <span class="nome-da-materia">
            Nome da materia:
            </span>
            <div class="rectangle-6">
            </div>
            <span class="selecionar-professor">
            Selecionar professor:
            </span>
            <div class="rectangle-9">
            </div>
            <span class="exibir-editar-materias">
            Exibir/Editar Materias
            </span>
          </div>
        </body>
      </html>
    </div>
</body>
</html>