<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/home.css' %}" />
</head>
<body>
    <div class="home">
        <!doctype html>
        <html lang="en">
          <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=Edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Tela 2</title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="tela_2.css" />
          </head>
          <body>
            <div class="tela-2">
              <div class="container">
                <div class="adicionar-turmas">
                Adicionar Turmas
                </div>
                <div class="rectangle-3">
                </div>
              </div>
              <div class="rectangle-4">
              </div>
              <span class="adicionar-professores">
              Adicionar Professores
              </span>
              <div class="rectangle-1">
              </div>
              <span class="adicionar-periodos">
              Adicionar Periodos
              </span>
              <span class="adicionar-horarios-ex-1430">
              Adicionar Horarios (Ex: 14:30)
              </span>
              <span class="adicionar-materias">
              Adicionar Materias
              </span>
              <span class="adicionar-salas">
              Adicionar Salas
              </span>
              <span class="adicionar-professores-1">
              Adicionar Professores
              </span>
              <div class="rectangle-2">
              </div>
              <span class="gerar-horario">
              Gerar Horario
              </span>
              <span class="solucao-para-horario-escolar">
              Solucao para Horario Escolar
              </span>
              <div class="rectangle-8">
              </div>
              <span class="adicionar-professor">
              Adicionar Professor
              </span>
              <div class="rectangle-7">
              </div>
              <span class="id-do-professor">
              ID do professor:
              </span>
              <div class="rectangle-5">
              </div>
              <span class="nome-do-professor">
              Nome do professor:
              </span>
              <div class="rectangle-6">
              </div>
              <span class="exibir-editar-professores">
              Exibir/Editar Professores
              </span>
              <span class="selecionar-periodo">
              Selecionar Periodo:
              </span>
              <div class="rectangle-9">
              </div>
            </div>
          </body>
        </html>
    </div>
</body>
</html>